{% extends 'base.html' %}

{% block title %}

    Adicionar Joagador - {{ block.super }}

{% endblock title %}

{% block body %}

<br />
<b>Cadastro de Joagador</b>
<br />
<br />
<form action="" method="POST">
{% csrf_token %}
    <label>Nome</label>
    <br />   
    {{ form.first_name }}
    <br />
    <br />
    <label>Sobrenome</label>
    <br />    
    {{ form.last_name }}
    <br />
    <br />
    <label>Endereco</label>
    <br />    
    {{ form.address }}
    <br />
    <br />
    <label>Telefone</label>
    <br />    
    {{ form.phone }}
    <br />
    <br />
    <label>E-mail</label>
    <br />   
    {{ form.email}}
    <br />
    <br />
    <label>Genero</label>
    <br />   
    {{ form.gender }}
    <br />
    <br />
    <label>Redes sociais</label>
    <br />    
    {{ form.socialnetwork }}
    <br />
    <br />
    <button type="submit">Salvar</button>       
</form>

{% endblock body %}

# Criar um arquivo "list_players.html" com as informacoes 
# em lista dos Joagadores adicionados.

{% extends 'base.html' %}

{% block title %}

    Lista de Joagadores - {{ block.super }}

{% endblock title %}

{% block body %}

<br />
    <a href="{% url 'players:add_player' %}">Cadastro de novo Joagador</a>
<br />
<br />
<b>Lista de Joagadores</b></h5>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Endereco</th>
        <th>Telefone</th>
        <th>E-mail</th>
        <th>Genero</th>
        <th>Redes sociais</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for player in players %}
        <tr>
            <td>{{ player.id }}</td>
            <td>{{ player.first_name }}</td>
            <td>{{ player.last_name }}</td>
            <td>{{ player.address }}</td>
            <td>{{ player.phone }}</td>
            <td>{{ player.email }}</td>
            <td>{{ player.gender }}</td>
            <td>
                <ul>
                {% for socialnetwork in player.socialnetwork.all %}
                    <li>{{ socialnetwork.name }}</li>
                {% empty %}
                    <li>Sem redes</li>
                {% endfor %}
                </ul>
            </td>
            <td>
                <a href="{% url 'players:edit_player' player.id %}">Editar</a>
            </td>
            <td>
                <a href="{% url 'players:delete_player' player.id %}">Excluir</a>
            </td>
        </tr> 
    {% endfor %}
    </tbody>
</table>


{% endblock body %}
