{% extends 'base.html' %}

{% block body %}
<br />
<b>Finalizar Pedido</b>
<br />
<br />
{% if cart %}
<form method="post">
    {% csrf_token %}
    <label>Jogador:</label>
    <select name="player" required>
        <option value="">Selecione</option>
        {% for player in players %}
            <option value="{{ player.id }}">{{ player.first_name }} {{ player.last_name }}</option>
        {% endfor %}
    </select>
    <br />
    <br />
    <label>Funcionário:</label>
    <select name="support" required>
        <option value="">Selecione</option>
        {% for support in supports %}
            <option value="{{ support.id }}">{{ support.first_name }} {{ support.last_name }}</option>
        {% endfor %}
    </select>
    <br />
    <br />
        <label>Forma de pagamento:</label>
    <select name="payment_method" required>
        <option value="">Selecione</option>
        {% for value, label in payment_methods %}
            <option value="{{ value }}">{{ label }}</option>
        {% endfor %}
    </select>
    <br />
    <br />
    <table border="1">
        <thead>
            <tr>
                <th>Jogo</th>
                <th>Preço</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            {% for product_id, item in cart.items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.subtotal }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br />
    <br />
    <b>Total: {{ total }}</b>
    <br />
    <br />
    <button type="submit">Confirmar Pedido</button>
</form>
{% else %}
<b>Carrinho vazio.</b>
{% endif %}
{% endblock %}
