{% extends 'base.html' %}

{% block body %}
<br />
<a href="{% url 'orders:cart' %}">Ver Carrinho</a>
<br />
<br />
<b>Lista de Jogos</b>
<br />
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Categoria</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        {% for game in games %}
        <tr>
            <td>{{ game.id }}</td>
            <td>{{ game.name }}</td>
            <td>{{ game.description }}</td>
            <td>{{ game.price }}</td>
            <td>{{ game.category }}</td>
            <td>
                <a href="{% url 'orders:add_cart' game.id %}">Adicionar</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="8">Nenhum jogo encontrado.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
